# Загальні файли та папки, які створюються операційною системою
.DS_Store             # Файл метаданих macOS
Thumbs.db             # Файл кешу мініатюр Windows

# Файли конфігурації, які не слід додавати у Git
.env                  # Файл змінних середовища
config.local.json     # Локальні конфігурації, що можуть містити чутливу інформацію

# Файли, що створюються деякими текстовими редакторами та IDE
*~                    # Резервні копії, створені Vim/Emacs
.vscode/              # Папка налаштувань VS Code (може містити особисті налаштування)
